<div fxLayout='column'>
    <mat-toolbar fxLayout='row' fxLayoutAlign='space-between center'>
        <div>
            <h1> Expensis </h1>
        </div>

        <div>

            <nav mat-tab-nav-bar>
                <a [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"
                    mat-tab-link *ngFor="let link of links">
                    {{link.label}}
                </a>
                <button class="clear-border" mat-button [matMenuTriggerFor]="menu" >My profile</button>
                <mat-menu #menu="matMenu" >
                    <a [routerLink]="myProfileLink" 
                        mat-tab-link="link">
                        Edit profile
                    </a>
                    <a  mat-tab-link="link" 
                        (click)="onLogoutClicked()">
                        Log out
                    </a>
                </mat-menu>


            </nav>

        </div>
    </mat-toolbar>

    <router-outlet>

    </router-outlet>
</div>